@font-face
{
    font-family: myFirstFont;
    src: url(assets/fonts/fontawesome-webfont.ttf);
}

/* Write your styles */
 body {
   height: 95vh;
 }

.section-content-960 {
    width: 960px;
    margin: auto;
}

.section-content {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.dynamic-photo-box {
    width: 300px;
    height: 400px;
    margin:auto;
}

.dynamic-photo-box > img {
    border-radius: 3px;
}

.photo-text {
    font-family:cjsyingbixingshu532742;
    font-size: 34px;
    height: 100px;
    width: auto;
    padding: 30px 5px;
    font-weight: lighter;
    color:#c0c0c0;
    vertical-align: middle;
    margin: auto;
}

@media (max-width: 700px) {
    .dynamic-photo-box {
        display: none;
    }
    
    .col-1 {
        width: 100%;
    }
}


.login-box {
    width: auto;
    max-width: 360px;
    height: 400px;
    margin:auto;
    box-shadow: 1px 1px 8px 2px #CDDDD1;
    border-radius: 0px;
    
}

.login-box .box-label {
    position: relative;
    color:darkgreen;
    font-size: 20px;
    padding:24px 0px 0px 36px;
}

.form-login {
    position: relative;
    margin: 16px 36px 16px 36px;
}

.form-login > button,
.form-login > button:focus {
    position: relative;
    width: 100%;
    height: 42px;
    font-size: 16px;
    margin-top:20px;
    border-radius: 0px;
    background-color: #06c000;
    color: white;
    border-style: none;
}

.form-login > button:hover {
     background-color: #05ad00;
     color:white;
}


.form-login > .form-control {
    position: relative;
    border-color: #CDDDD1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    height: 42px;
    border-radius: 0px;
    margin-top: 20px;
}

.form-login > .form-control:focus {
    border-color: rgb(85, 157, 31);
}

.form-login > .


/* Override Bootstrap */

.navbar-default {
    height: 70px;
    padding-top: 10px;
    border-style: none;
    
}

.navbar-default .navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-default .navbar-right > li {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
    padding-bottom: 5px;
  font-size: 16px;
  color: #06c000;
    font-weight: bold;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #05ad00;
  border-bottom:medium solid #3EB900;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #06c000;
  border-bottom:medium solid #06c000;
    background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
    border-style:none;
    cursor: default;
}

.navbar-default .navbar-right > .login > a,
.navbar-default .navbar-right > .login > a:focus{
    background-color: #06c000;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    border-style: none;
    
}

.navbar-default .navbar-right > .login > a:hover{
    background-color: #05ad00;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    border-style: none;
}

.navbar-default .navbar-right > .register > a,
.navbar-default .navbar-right > .register > a:focus{
    background-color: #1e8ec6;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    border-style: none;
    
}

.navbar-default .navbar-right > .register > a:hover{
    background-color: #1c83b7;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    border-style: none;
}


.carousel-inner img {
    width:100%;
    height:1px;
    margin-top: -20px;
    
}

#myCarousel {
    min-width: 960px;
    margin: auto;
}

#myModules {
    width: 100%;
    min-height: 200px;
    height: auto;
    background-color: #e8e8e8;
}

.circle-item {
    width: 160px;
    height: 160px;
    text-align: center;
    color:white;
    font-size: 36px;
    font-weight: bold;
    border-radius: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: myFirstFont;
    padding-top: 52px;
}

@keyframes changeColor
{
    0%   {color:#f11700;}
    25%  {color:#f1ca00;}
    50%  {color:#1e8ec6;}
    75%  {color:#c51fb3;}
    100% {color:#06c000;}
}

@-webkit-keyframes changeColor /* Safari and Chrome */
{
    0%   {color:#f11700;}
    25%  {color:#f1ca00;}
    50%  {color:#1e8ec6;}
    75%  {color:#c51fb3;}
    100% {color:#06c000;}
}

.logo-box {
    position: relative;
    width:730px;
    height:144px;
    margin:20% auto auto auto;
}

.logo-box > img {
    position: relative;
    opacity: 0;
    width: 142px;
    height: 142px;
    transition: transform 2s ease-out 1s;
    -webkit-transition: -webkit-transform 2s ease-out 1s;
}

.logo-text {
    position: relative;
    text-align: center;
    width: 450px;
    margin: auto;
    height:auto;
    opacity: 0;
    transition: color 3s;
    font-family:hzguangbiao532268;
    font-size: 72px;
    color: #06c000;
}

.logo-text-gradient {
    background-image: -webkit-linear-gradient(left,#06c000,#f11700,
                                                #f1ca00,#1e8ec6,#c51fb3 ); /* Safari 5.1 - 6.0 */
    background-image: -o-linear-gradient(left,#06c000,#f11700,
                                                #f1ca00,#1e8ec6,#c51fb3 ); /* Opera 11.1 - 12.0 */
    background-image: -moz-linear-gradient(left,#06c000,#f11700,
                                                #f1ca00,#1e8ec6,#c51fb3 ); /* Firefox 3.6 - 15 */
    background-image: linear-gradient(left,#06c000,#f11700,#f1ca00,
                                                #1e8ec6,#c51fb3 ); /* 标准的语法（必须放在最后） */
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     text-fill-color: transparent;
}


img.k-circle {
    left: -60px;
    background: url(../i/klife_seperate@142.png) 2px 2px;
}

img.l-circle {
    left: -30px;
    background: url(../i/klife_seperate@142.png) 2px 286px;
}

img.i-circle {
    left: 0px;
    background: url(../i/klife_seperate@142.png) 2px 144px;
}

img.f-circle {
    left: 30px;
    background: url(../i/klife_seperate@142.png) 144px 2px;
}
img.e-circle {
    left: 60px;
    background: url(../i/klife_seperate@142.png) 144px 286px;
}

img.mix-circle {
    left: 290px;
    top:-142px;
    background: url(../i/klife_seperate@142.png) 144px 144px;
}

img.scaleHidden {
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
}



    .footer p {
      color: #CDDDD1;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #4d8f1b;
    }
