@font-face
{
    font-family: myFirstFont;
    src: url(assets/fonts/fontawesome-webfont.ttf);
}

/* Write your styles */
 body {
   height: 95vh;
 }

.nav-content {
    width: 960px;
    margin: auto;
}

.section-content {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.dynamic-photo-box {
    float: left;
    width: 300px;
    height: 300px;
    margin:150px auto auto 150px;
}

.dynamic-photo-box > img {
    border-radius: 3px;
}


.login-box {
    width: 300px;
    height: 400px;
    margin: 100px 150px auto auto;
    box-shadow: 1px 1px 8px 2px #CDDDD1;
    border-radius: 4px;
    
}

/* Override Bootstrap */

.navbar-default {
    height: 70px;
    padding-top: 10px;
    border-style: none;
    
}

.navbar-default .navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-default .navbar-right > li {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
    padding-bottom: 5px;
  font-size: 16px;
  color: #06c000;
    font-weight: bold;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #05ad00;
  border-bottom:medium solid #3EB900;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #06c000;
  border-bottom:medium solid #06c000;
    background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
    border-style:none;
    cursor: default;
}

.navbar-default .navbar-right > .login > a,
.navbar-default .navbar-right > .login > a:focus{
    background-color: #06c000;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    border-style: none;
    
}

.navbar-default .navbar-right > .login > a:hover{
    background-color: #05ad00;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    border-style: none;
}

.navbar-default .navbar-right > .register > a,
.navbar-default .navbar-right > .register > a:focus{
    background-color: #1e8ec6;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    border-style: none;
    
}

.navbar-default .navbar-right > .register > a:hover{
    background-color: #1c83b7;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    border-style: none;
}


.carousel-inner img {
    width:100%;
    height:1px;
    margin-top: -20px;
    
}

#myCarousel {
    min-width: 960px;
    margin: auto;
}

#myModules {
    width: 100%;
    min-height: 200px;
    height: auto;
    background-color: #e8e8e8;
}

.circle-item {
    width: 160px;
    height: 160px;
    text-align: center;
    color:white;
    font-size: 36px;
    font-weight: bold;
    border-radius: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: myFirstFont;
    padding-top: 52px;
}

@keyframes fadeIn
{
0% {
    opacity: 0;
    left: 0px;
    }
100% {opacity: 1;
      left: 0px
    }
}

@-webkit-keyframes fadeIn /* Safari and Chrome */
{
0% {
    opacity: 0;
    left: 0px;}
100% {
    opacity: 1;
    top: 0px;
    }
}

.logo-box {
    width:730px;
    height:144px;
    margin:20% auto 20% auto;
}

.logo-box > img {
    position: relative;
    opacity: 0;
    width: 142px;
    height: 142px;
    transition: transform 2s ease-out 1s;
    -webkit-transition: -webkit-transform 2s ease-out 1s;
}


img.k-circle {
    left: -60px;
    background: url(../i/klife_seperate@142.png) 2px 2px;
}

img.l-circle {
    left: -30px;
    background: url(../i/klife_seperate@142.png) 2px 286px;
}

img.i-circle {
    left: 0px;
    background: url(../i/klife_seperate@142.png) 2px 144px;
}

img.f-circle {
    left: 30px;
    background: url(../i/klife_seperate@142.png) 144px 2px;
}
img.e-circle {
    left: 60px;
    background: url(../i/klife_seperate@142.png) 144px 286px;
}

img.mix-circle {
    left: 290px;
    top:-142px;
    background: url(../i/klife_seperate@142.png) 144px 144px;
}

img.scaleHidden {
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
}



    .footer p {
      color: #CDDDD1;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #4d8f1b;
    }
